page-product-detail {

  ion-header {
    // height:
  }

  ion-content {
    .product-images {
      width: 100%;
    }

    .main-content {
      width: 100%;
      background-color: white;
    }

    .product-detail-first-row {
      height: 10vh;
    }

    .product-name {
      font-size: 1.2em;
    }

    .addToBagButton {
      width: 80%;
    }

    ion-select {
      width: 80%;
    }

  }


}
