page-product-detail {

  .toolbar-background {
    background-color: white;
  }

  ion-content {

    img {
      // image-rendering: crisp-edges;
      width: 100% !important;
    }

    .product-name {
      float: left;
    }

    .product-price {
      float: right;
      text-align: right;
    }


    // .main-content {
    //   width: 100%;
    //   background-color: white;
    // }

    // .product-detail-first-row {
    //   height: 10vh;
    // }

    // .product-name {
    //   font-size: 1.2em;
    // }

    .add-to-bag {
      height: 50px !important;
      width: 92.5%;
    }

    .select-option-button {
      width: 92.5%;
      // margin-top: 5%;
      height: 50px !important;
    }

    .add-to-bag-icon {
      margin-left: 5%;
      font-size: 1.5em;
    }

    // .arrow-icon {
    //   margin-left: 5%;
    //   font-size: 1.5em;
    // }

    // .product-price {
    //   text-align: right;
    // }

    // .segment-button {
    //   font-size: 1.05em !important;
    // }

    // .detail-label {
    //   border: 1px solid black;
    //   padding: 1% !important;
    // }

    // .swiper-pagination-bullet-active {
    //   background: black;
    //   size: 2em !important;
    //   height: 15px;
    //   width: 15px;
    //   border: 2px solid white;
    // }

  }
}
