page-sign-up {

  .toolbar-background {
    background-color: #dda943;
  }

  ion-content {
    background-color: #F3EED0 !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  ion-input {
    ::placeholder {
      font-weight: bold;
    }
  }

  ion-label {
    font-weight: bold;
  }

  .sign-up {
    margin-top: 10%;
    width: 80%;
  }

  .error-text {
    color: red;
  }
}
