page-login {
  .logo {
    margin-top: 10%;
    height: 100%;
    width: 200px;
  }

  .user-info {
    margin-top: 20%;
  }

  .sign-in {
    height: 50px;
    width: 80%;
  }

  .sign-up-text {
    margin-top: 5%;
  }

  .sign-up-button {
    font-weight: bold;
    display: inline;
  }

  ion-input {
    ::placeholder {
      font-weight: bold;
    }
  }
}
