page-home {
  $font-family-base: "Open Sans", sans-serif !default;

  .search-icon {
    margin-right: 3%;
  }

  ion-label {
    padding: 0 !important;
    margin: 0 !important;
  }

  ion-badge {
    background-color: red !important;
    position: absolute;
    top: 15px;
    right: -5px;
    border-radius: 20px !important;
    font-size: 0.4em;
  }

  ion-title {
    font-family: "Helvetica" !important;
    font-weight: bold !important;
  }
}
