page-product-list {
  .old-price {
    text-decoration: line-through;
    float: right;
  }

  .new-price {
    float: left;
  }

  .category-name {
    font-size: 3em !important;
  }

  .toolbar-title-md {
    font-size: 1.7rem;
  }
}
