page-bag {
  .totalAmount {
    text-align: right;
    float: right;
  }

  .empty-bag {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .product-image {
    width: 35%;
    float: left;
    margin-right: 5%;
  }

  .option-button {
    display: block !important;
    width: 40%;
    margin-bottom: 3%;
  }

  .checkout {
    width: 100%;
  }

  .checkout-icon {
    margin-left: 5%;
    font-size: 1.5em;
  }

}
